@use "sass:map";
@import './resets';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.navbar, footer{
    background-color: $primary-color;
    margin: 1rem;
    font-size: 1.2rem;

    .navbar-brand,h2{
        color: #ffff;
        font-size: 1.5rem;
        font-family: $headers;
    }
    .navbar-brand:hover, h2:hover {
        color: $secondary-color;
    }
    .bi-circle-square {
        color: #ffff;
        font-size: 1.5rem;
    }
    .bi-circle-square:hover {
            color: $secondary-color;
        }
    .nav-link {
            color: #ffff;
        }
    
        .nav-link:hover, i:hover {
            color: $secondary-color;
        }
}

p{
    color: #ffff;
    font-size: 1rem;
    font-family: $regular-text;
    i{
        font-size: 18px;
    }
}

a {
    text-decoration: none !important;
}



